<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751968709159-che46hg9ubg2cbhdjt0is954dh9p4kfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751968709159-che46hg9ubg2cbhdjt0is954dh9p4kfq</string>
	<key>API_KEY</key>
	<string>AIzaSyDO-rtcYS6-W1Msx60H7YVcUQDwRQtOHPU</string>
	<key>GCM_SENDER_ID</key>
	<string>751968709159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mxapps.gatorsandbox</string>
	<key>PROJECT_ID</key>
	<string>gator-464aa</string>
	<key>STORAGE_BUCKET</key>
	<string>gator-464aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751968709159:ios:229f7bd64d800f8b407c02</string>
</dict>
</plist>